.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .productCard {
    transition: transform 1s ease-in-out;
    padding: 10px;
    height: auto !important;
  }
  
  .productCard:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #440360;
    color: white;
    padding: 10px 20px;

  }
  
  .nav-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-buttons {
    display: flex;
    gap: 10px;
  }
  .card-buttons{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .product-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;     
    display: block !important;
  }