.displayName {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 1535px;
}
.showName > p {
  display: flex;
  justify-content: center;
}
