.add-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/AddProduct/addProductimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.add-product-content {
  padding: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.301);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.add-product-content h1{
  font-family: cursive;
  color: #4566D9;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-button{
  display: flex;
  justify-content: space-between;
}
.sucessMessage{
  color: rgb(255, 0, 0);
  font-weight: bolder;
  font-size: 18px;
}