.nameInputFeild {
  height: 30px;
  width: auto;
}
.alertButton:hover {
  background-color: blue;
  transition: all 0.6s ease;
}
.alertButtonContainer {
  display: flex;
  width: 170px;
  height: auto;
  margin-top: 20px;
  justify-content: center;
}
.inputLabel {
  font-family: cursive;
  color: greenyellow;
  font-size: 20px;
}
.inputValueContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 948px;
  justify-content: center;
}
