.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.inputValue{
    height: 50px;
}
.inputContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.outputContainer{
   display: flex;
   flex-direction: column;
   height: 150px;
   overflow: auto;
   margin-top: 20px;
   color:rgb(4, 59, 255);
}